/*reset*/
html {
    font-size: 100px;
    font-family: "Microsoft YaHei", Roboto, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Simsun, serif;

}

html, body, h1, h2, h3, h4, h5, h6, p, article {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    border: none;
}

a:hover {
    opacity: 0.6;
}

img {
    border: none;
}

/*ng-view wrap*/
.article {
    width: 9.4rem;
    padding: 0 0.10rem;
    margin: 0.20rem auto;
    font-size: 0.2rem;
}

/**/
.article article {
    margin: 0.30rem auto 0.50rem auto;
    padding-bottom:0.20rem;
    min-height: 1rem;
    background: #FFF;
    /*border-bottom:0.01rem solid #DDD;*/
}

.article .article-attachment {
    margin: 0.20rem auto;
}

.article .article-attachment h1 {
    font-size: 0.30rem;
    line-height: 0.70rem;
    color: #222;
}

.article .article-attachment h1 a {
    display: inline-block;
    color: #0C616B;
}

.article .article-attachment .parts {
    margin: 0.2rem auto;
    color: #999;
    font-size: 0.16rem;
}

.article .article-attachment .parts span {
    display: inline-block;
    margin-right: 0.15rem;
    line-height: 0.34rem;
}

.article .read-more {
    font-size: 0.18rem;
}

.article .read-more a {
    color: #666;
    display: inline-block;
    line-height: 0.40rem;
}
/*article detail page*/
.article .extend{
    min-height:1.5rem;
    border-top:0.01rem solid #DDD;
}

/*response*/
@media screen and (max-width: 960px) and (min-width: 320px) {
    .article {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .article {
        width: 320px;
    }
}
