<article ng-repeat="article in articles | orderBy : {{article.birthtime}}">
    <div class="article-attachment">
        <h1><a ng-href="#{{article.url}}.html">{{article.title}}</a></h1>

        <div class="parts">
            <span class="mtime">
                最后修改时间：{{article.mtime | date:"yyyy-MM-dd HH:mm:ss"}}
            </span>
            <span class="ctime">
                文章创建时间：{{article.birthtime | date:"yyyy-MM-dd HH:mm:ss"}}
            </span>
            <span class="author">
                作者：{{article.author}}
            </span>
            {{article.birthtime}}
        </div>
    </div>
    <!-- <div class="markdown" ng-bind-html="article.content"></div>
    <div class="read-more" ng-if="article.readMore"><a ng-href="#{{article.url}}.html">阅读全文</a></div> -->

</article>
